body{

    padding: 0;
    margin: 0;
}
.navigation-bar{
    height: 15vh;
}

.outer-jumbo{
    height: 85vh;
    border: black 1px solid;
    background-color: #66625d;

}

.image-div{
    position: absolute;
    height: 60vh;
    width: 80%;
    child-align: middle;
}

.image-home{
    height: 100%;
    width: 100%;/*
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;*/
}

#teacher-linker{
    display: inline-block;
   /* background-color: yellow;*/
    border: 2px black solid;
    height: 70vh;
    position: relative;
    left: 20%;
    width: 18%;
}

#student-linker{

    display: inline-block;
    /*background-color: orangered;*/
    border: 2px black solid;
    position: relative;
    height: 70vh;
    width: 18%;
    right: 20%;

}

.teacher-title{
    position: absolute;
    top: 40%;
    left: 5%;
}

.student-title{
    position: absolute;
    left: 5%;
    top: 40%;
}

.continue-btn{
    display: none;
    position: absolute;
    bottom: 10vh;
    left: 25%;
}

.teacher-logo{
    display: none;
}

.student-logo{
    display: none;
}

#student-linker:hover>* {


    display: block;
}

#student-linker:hover{
    background-color: #ef9207;
    transition: 1s ease-out;
}

#teacher-linker:hover>* {
    display: block;
}

#teacher-linker:hover{
    background-color: #ef9207;
    transition: 1s ease-out;
}